<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <title>{{certificate_title}}</title>
</head>
<body>
  <div class="title">{{certificate_title}}</div>
  <p>문서번호 : {{issue_number}}</p>
  <p>발 급 일 : {{issue_date}}</p>

  <div class="content">{{certificate_statement}}</div>

  <div class="section-title">인적사항</div>
  <table>
    <tr><td class="label">성명</td><td>{{employee_name}}</td><td class="label">생년월일</td><td>{{birth_date}}</td></tr>
    <tr><td class="label">주소</td><td>{{employee_address}}</td><td class="label">연락처</td><td>{{employee_phone}}</td></tr>
    <tr><td class="label">소속</td><td>{{org_name}}</td><td class="label">직위</td><td>{{position_name}}</td></tr>
    <tr><td class="label">주민등록번호</td><td>{{resident_no_masked}}</td><td class="label">입사일</td><td>{{hire_date}}</td></tr>
  </table>

  <div class="section-title">휴직 및 회사 정보</div>
  <table>
    <tr><td class="label">회사명</td><td>{{company_name}}</td><td class="label">사업자등록번호</td><td>{{biz_reg_no}}</td></tr>
    <tr><td class="label">대표자명</td><td>{{ceo_name}}</td><td class="label">대표전화</td><td>{{company_phone}}</td></tr>
    <tr><td class="label">소재지</td><td>{{company_address}}</td><td class="label">재직기간</td><td>{{employment_period}}</td></tr>
    <tr><td class="label">휴직 시작일</td><td>{{loa_start_date}}</td><td class="label">휴직 종료일</td><td>{{loa_end_date}}</td></tr>
    <tr><td class="label">복귀예정일</td><td>{{return_due_date}}</td><td class="label">발급용도</td><td>{{purpose_label}}</td></tr>
    <tr><td class="label">제출처</td><td>{{submit_to}}</td><td class="label">문서구분</td><td>{{certificate_title}}</td></tr>
  </table>

  <div class="content">위와 같이 휴직 사실을 증명합니다.</div>

  <div class="issued-at">
    {{issue_date_long}}<br/>
    {{company_name}}<br/>
    대표이사 (인)
  </div>
</body>
</html>
